.App-header {
    transition: all 1s;
    background-color: #C32025;
    position: relative;
    z-index: 3;
    min-height: calc(50vh - 10px);
    display: grid;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr;
    font-size: calc(10px + 2vmin);
    color: white;
    border-bottom: 10px solid #000;
  }

  .App-header h1 {
    transition: all 1s;
    font-size: 3vw;
    position: absolute;
    left: calc(50%);
  }

.logo {
    width: 100px;
    height: 100px;
    border: 10px solid #000;
    border-radius: 50%; 
    background-color: #fff;
    position: absolute;
    bottom: -60px;
    left: calc(50% - 60px);
    cursor: pointer;
    z-index: 3;
  }

.logo:hover {
  animation: none;
}

@-webkit-keyframes shadow-pulse
{
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(195, 195, 195, 0.6);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(195, 195, 195, 0);
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(195, 195, 195, 0.6);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(195, 195, 195, 0);
  }
}