.wrapp {
    transition: 1s;
    min-height: calc(140vh);
}

.container {
    width: 80%;
    margin: 0 auto;
    z-index: 1;
    display: grid;
    justify-items: center;
}

.pokemon-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 50px;
}

.pokemon-wrapper {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: rgba(255, 255, 255, .6);
    margin: 5px;
    box-shadow: 0 0 6px;
    cursor: pointer;
    width: 140px;
    height: 183px;
    padding: 0 10px;
    border-radius: 4px;
}

.pokemon-wrapper:hover {
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 0 10px;
}

.pokemon-wrapper:active {
    background-color: rgba(255, 255, 255, .9);
    box-shadow: inset 0 0 10px;
}

.pokemon-wrapper h2 {
    font-size: 1.3em;
}

.search-input {
    display: block;
    width: 50%;
    margin: 60px 0 20px 0;
    background-color: rgba(255, 255, 255, .6);
    padding: 7px 10px;
    outline: none;
}

.search-input:focus,
.search-input:hover,
.search-input:active {
    background-color: rgba(255, 255, 255, .99);
}

.filter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter-by-color {
    display: inline-block;
    background-color: rgba(255, 255, 255, .6);
    padding: 5px 30px;
}

.filter-by-color h4 {
    margin: 10px 0;
    color: #242424;
}

.color-btns-holder {
    display: flex;
    flex-direction: row;
}

.color-btns {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, .6);
    cursor: pointer;
}

.color-btns:hover {
    border: 1px solid #989898;
    box-shadow: 1px 1px 5px #000;
}

.color-btns:active {
    border: 1px solid #444;
    box-shadow: none;
}

.all-colors {
    float: left;
    margin: 6px 5px;
    cursor: pointer;
    width: 0;
    height: 0;
    border-radius: 3px;
    border-top: 10px solid red;
    border-right: 10px solid green;
    border-bottom: 10px solid blue;
    border-left: 10px solid yellow;
}

.all-colors:hover {
    box-shadow: 1px 1px 8px #444;
    border-top: 10px solid #ff6b6b;
    border-right: 10px solid #78b678;
    border-bottom: 10px solid #6363ff;
    border-left: 10px solid #ffff71;
}

.all-colors:active {
    box-shadow: none;
}

.pagination-btns {
    padding: 4px 8px;
    border: 1px solid #cecece;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    color: #525252;
}

.pagination-btns.hide {
    display: none;
}

.pagination-btns.hide:last-of-type {
    display: inline-block;
}


@media only screen and (min-width: 1001px) {
    .container.single-pokemon {
        width: 700px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1400px) {

    .pokemon-holder,
    .pokemon-moves-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .search-input {
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {
    .container.single-pokemon {
        width: 700px;
    }

    .App-header h1 {
        transform: translateX(96%)
    }

    .pokemon-holder,
    .pokemon-moves-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .container.single-pokemon {
        width: 80%;
    }

    .pokemon-holder,
    .pokemon-moves-holder {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pagination-btns.change-ten-pages {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {

    .pokemon-holder,
    .pokemon-moves-holder {
        grid-template-columns: 1fr 1fr;
    }

    .search-input {
        width: 100%;
    }

    .color-btns-holder {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .color-btns-wrapper {
        width: 160px;
    }

    .color-btns:nth-child(6) {
        clear: both;
    }

    .all-colors-holder {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .container.single-pokemon {
        width: 90%;
    }

    .App-header h1 {
        visibility: hidden;
    }

    .pokemon-holder,
    .pokemon-moves-holder {
        grid-template-columns: 1fr;
    }

}