.wrapp {
    transition: 1s;
    min-height: calc(140vh);
}
.container {
    width: 80%;
    margin: 0 auto;
    z-index: 1;
}

.pokemon-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 50px;
}

.pokemon-holder div{
    background-color: rgba(255, 255, 255, .6);
    margin: 5px;
    box-shadow: 0 0 6px;
    cursor: pointer;
    min-height: 183px;
}
.pokemon-holder div:hover{
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 0 10px;
}
.pokemon-holder div:active{
    background-color: rgba(255, 255, 255, .9);
    box-shadow: inset 0 0 10px;
}

.pagination-btns {
    padding: 4px 13px;
    border: 1px solid #cecece;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, .9);
    cursor: pointer;
    user-select: none;
}

.pagination-btns.hide {
    display: none;
}

.pagination-btns.hide:last-of-type {
    display: inline-block;
}

@media only screen and (min-width: 1001px) {
    .container.single-pokemon {
        width: 700px;
    }
}
@media only screen and (max-width: 1000px) {
    .container.single-pokemon {
        width: 700px;
    }
    .App-header h1 {
        transform: translateX(96%)
    }
    .pokemon-holder, .pokemon-moves-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 800px) {
    .container.single-pokemon {
        width: 80%;
    }
    .pokemon-holder, .pokemon-moves-holder {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pagination-btns.change-ten-pages {
        display: none !important;
    }
}
@media only screen and (max-width: 600px) {
    .pokemon-holder, .pokemon-moves-holder {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 400px) {
    .container.single-pokemon {
        width: 90%;
    }
    .App-header h1 {
        visibility: hidden;
    }
    .pokemon-holder, .pokemon-moves-holder {
        grid-template-columns: 1fr;
    }

}