.wrapp.single-pokemon {
    min-height: 61vh;
}

.container.single-pokemon {
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 6px;
    padding: 20px 0;
    box-sizing: border-box;
    display: block;
}

.container.single-pokemon h1 {
    margin: 0;
}

.container.single-pokemon h2 {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    box-shadow: 0 0 6px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f5daaa;
    margin: 20px 0;
}

.container.single-pokemon h2:hover {
    background: #f1e2c9;
    color: #222
}

.container.single-pokemon h2:active {
    background: #f5daaa;
    box-shadow: inset 0 0 6px;
    color: #222
}

.container.single-pokemon h2 img {
    width: 15px;
    margin-left: 5px;
}

.pokemon-moves-holder {
    transition: all .5s;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
}

.pokemon-stats-holder {
    transition: all .6s;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.pokemon-image-holder {
    transition: all .6s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center
}

.pokemon-image-holder img[alt="sprite"]{
    width: 130px;
}

.pokemon-image-holder img[alt="sprite"]{
    cursor: url('../assets/eye.png'), pointer;
}

.pokemon-image-holder h4 {
    margin: 0 0 10px 0;
}

.pokemon-stats{
    margin-top: 20px;
}

.pokemon-stats h2, .pokemon-stats p{
    margin-top: 0;
}

.pokemon-types {
    width: 60px;
    height: 60px;
}

.container.single-pokemon .back-btn {
    cursor: pointer;
    box-shadow: 0 0 6px;
    user-select: none;
    padding: 8px 20px;
    background: #f5daaa;
    margin: 30px 0 -20px 0;
    color: #000;
    justify-self: auto
}

.container.single-pokemon .back-btn:hover {
    background: #cecece;
    color: #222
}

.container.single-pokemon .back-btn:hover {
    background: #f1e2c9;
    color: #222
}

.container.single-pokemon .back-btn:active {
    background: #f5daaa;
    box-shadow: inset 0 0 6px;
    color: #222
}


